@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3>
        <a href="/app1" target="_blank" class="display-4">app1</a>
    </h3>

    <h3>
        <a href="/app2" target="_blank" class="display-4">app2</a>
    </h3>
</div>
